<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
				http://www.springframework.org/schema/tx 
		        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		        http://www.springframework.org/schema/context 
		        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="org.rainbow" />
	<context:annotation-config />

	<bean id="userService" class="org.rainbow.service.api.impl.UserService">
		<property name="dao">
			<bean class="org.rainbow.persistence.dao.impl.UserDao" />
		</property>
	</bean>

	<bean id="productService" class="org.rainbow.service.api.impl.ProductService">
		<property name="dao">
			<bean class="org.rainbow.persistence.dao.impl.ProductDao" />
		</property>
	</bean>

	<bean id="dataSource"
		class="com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/rainbow_shopping_cart" />
		<property name="user" value="root" />
		<property name="password" value="Passw0rd" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceProviderClass"
			value="org.hibernate.jpa.HibernatePersistenceProvider" />
		<property name="packagesToScan">
			<list>
				<value>org.rainbow</value>
			</list>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.dialect" value="org.hibernate.dialect.MySQL57InnoDBDialect" />
				<entry key="hibernate.hbm2ddl.auto" value="create" />
			</map>
		</property>


<!-- 		<property name="loadTimeWeaver"> -->
<!-- 			<bean -->
<!-- 				class="org.springframework.instrument.classloading.ReflectiveLoadTimeWeaver" /> -->
<!-- 		</property> -->
	</bean>

	<!-- Enable the configuration of transactional behavior based on annotations -->

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>