<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd">

	<jee:jndi-lookup id="RainbowSecurityApplicationName"
		jndi-name="${rainbow.security.applicationName}" lookup-on-startup="true"
		cache="true" />

	<bean id="applicationService"
		class="org.rainbow.security.service.services.ApplicationServiceImpl">
		<property name="dao" ref="applicationDao" />
	</bean>

	<bean id="authorityService"
		class="org.rainbow.security.service.services.AuthorityServiceImpl">
		<property name="dao" ref="authorityDao" />
	</bean>

	<bean id="groupService" class="org.rainbow.security.service.services.GroupServiceImpl">
		<property name="dao" ref="groupDao" />
	</bean>

	<bean id="userDetailsService"
		class="org.rainbow.security.service.userdetails.UserDetailsServiceImpl">
		<constructor-arg name="applicationName" ref="RainbowSecurityApplicationName" />
		<property name="dataSource" ref="rainbowSecurityDataSource" />
		<property name="enableAuthorities" value="false" />
		<property name="enableGroups" value="true" />
	</bean>

	<bean id="userService" class="org.rainbow.security.service.services.UserServiceImpl">
		<property name="dao" ref="userDao" />
		<property name="applicationDao" ref="applicationDao" />
	</bean>

	<bean id="userAccountService"
		class="org.rainbow.security.service.services.UserAccountServiceImpl">
		<property name="applicationName" ref="RainbowSecurityApplicationName" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="userDetailsService" ref="userDetailsService" />
		<property name="dataSource" ref="rainbowSecurityDataSource" />
	</bean>

</beans>