<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd">

	<jee:jndi-lookup id="rainbowAssetExplorerDataSource" jndi-name="${rainbow.asset.explorer.jdbc}" />

	<jee:jndi-lookup id="rainbowSecurityDataSource" jndi-name="${rainbow.security.jdbc}" />

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="persistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/rainbow_asset_explorer_persistence.xml</value>
				<value>classpath*:META-INF/rainbow_security_persistence.xml</value>
			</list>
		</property>
	</bean>

	<bean id="rainbowAssetExplorerEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="RainbowAssetExplorerPersistenceUnit" />
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
		<property name="dataSource" ref="rainbowAssetExplorerDataSource" />
		<property name="packagesToScan">
			<list>
				<value>org.rainbow</value>
			</list>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="eclipselink.logging.level" value="ALL" />
				<entry key="javax.persistence.schema-generation.database.action"
					value="none" />
				<entry key="eclipselink.weaving" value="false" />
				<entry key="eclipselink.logging.parameters" value="true" />
			</map>
		</property>
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="databasePlatform"
					value="org.eclipse.persistence.platform.database.MySQLPlatform" />
			</bean>
		</property>
	</bean>

	<bean id="rainbowSecurityEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="RainbowSecurityPersistenceUnit" />
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
		<property name="dataSource" ref="rainbowSecurityDataSource" />
		<property name="packagesToScan">
			<list>
				<value>org.rainbow</value>
			</list>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="eclipselink.logging.level" value="ALL" />
				<entry key="javax.persistence.schema-generation.database.action"
					value="none" />
				<entry key="eclipselink.weaving" value="false" />
				<entry key="eclipselink.logging.parameters" value="true" />
			</map>
		</property>
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="databasePlatform"
					value="org.eclipse.persistence.platform.database.MySQLPlatform" />
			</bean>
		</property>
	</bean>

</beans>