/rainbow-persistence/rainbow-persistence-dao/target/
/rainbow-persistence/rainbow-persistence-dao-impl/target/
/rainbow-service/rainbow-service-api/target/
/rainbow-service/rainbow-service-api-impl/target/
/rainbow-shopping-cart-model/target/
/rainbow-shopping-cart-ui-web/target/
