<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="alertDao" class="org.rainbow.asset.explorer.persistence.dao.AlertDaoImpl" />

	<bean id="assetDao" class="org.rainbow.asset.explorer.persistence.dao.AssetDaoImpl" />

	<bean id="assetTypeDao"
		class="org.rainbow.asset.explorer.persistence.dao.AssetTypeDaoImpl" />

	<bean id="emailRecipientDao"
		class="org.rainbow.asset.explorer.persistence.dao.EmailRecipientDaoImpl" />

	<bean id="emailTemplateDao"
		class="org.rainbow.asset.explorer.persistence.dao.EmailTemplateDaoImpl" />

	<bean id="localeDao"
		class="org.rainbow.asset.explorer.persistence.dao.LocaleDaoImpl" />

	<bean id="locationDao"
		class="org.rainbow.asset.explorer.persistence.dao.LocationDaoImpl" />

	<bean id="manufacturerDao"
		class="org.rainbow.asset.explorer.persistence.dao.ManufacturerDaoImpl" />

	<bean id="productDao"
		class="org.rainbow.asset.explorer.persistence.dao.ProductDaoImpl" />

	<bean id="productInventoryDao"
		class="org.rainbow.asset.explorer.persistence.dao.ProductInventoryDaoImpl" />

	<bean id="productIssueDao"
		class="org.rainbow.asset.explorer.persistence.dao.ProductIssueDaoImpl" />

	<bean id="productReceiptDao"
		class="org.rainbow.asset.explorer.persistence.dao.ProductReceiptDaoImpl" />

	<bean id="purchaseOrderDao"
		class="org.rainbow.asset.explorer.persistence.dao.PurchaseOrderDaoImpl" />

	<bean id="shipMethodDao"
		class="org.rainbow.asset.explorer.persistence.dao.ShipMethodDaoImpl" />

	<bean id="shippingOrderDao"
		class="org.rainbow.asset.explorer.persistence.dao.ShippingOrderDaoImpl" />

	<bean id="siteDao" class="org.rainbow.asset.explorer.persistence.dao.SiteDaoImpl" />

	<bean id="vendorDao"
		class="org.rainbow.asset.explorer.persistence.dao.VendorDaoImpl" />


</beans>