<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="database" class="org.rainbow.common.test.DatabaseImpl">
		<constructor-arg name="url" value="${jdbc.url}" />
		<constructor-arg name="user" value="${jdbc.user}" />
		<constructor-arg name="password" value="${jdbc.password}" />
		<constructor-arg name="driverClassName" value="${jdbc.driverClassName}" />
	</bean>

</beans>